---
import Artist from '../components/Artist.astro';
import LayoutMain from '../layouts/LayoutMain.astro';
import Artists from "../data/Artistas.json";
---

<LayoutMain>
	<div id="Artistas">
		<div class="flex items-center my-5 ml-30">
			<h1 class="text-4xl">Artistas</h1>
			<img class="size-15" src="https://png.pngtree.com/png-clipart/20220812/ourmid/pngtree-podcast-headphones-neon-light-sign-png-image_6107856.png" alt="">
		</div>
		<div class="flex flex-wrap justify-center gap-15">
			{Artists.map((concert) => (
				<Artist name={concert.name} date={concert.date} image={concert.image} />
			))}
		</div>
	</div>
	
</LayoutMain>
