---
import Artist from '../components/Artist.astro';
import LayoutMain from '../layouts/LayoutMain.astro';
import Artists from "../data/Artistas.json";
---

<LayoutMain>
	<div class="flex flex-wrap justify-center gap-10 ">
		{Artists.map(() => (
			<Artist/>
		))}
	</div>
</LayoutMain>
