---
const { name, date, image } = Astro.props;
---

<div class="containerArtista flex w-[400px] h-[250px] relative justify-between items-center align-middle rounded-4xl shadow-xl p-4">
    <img class="h-[210px] rounded-4xl" src=`${image}` alt="david guetta"/>
    <div class="flex flex-col align-middle items-center h-full">
        <h1 class="mt-10 font-bold text-xl text-nowrap bg-gradient-to-r from-[#ca19b5] to-[#68b114] bg-clip-text text-transparent">{name}</h1>
        <h2 class="mt-2 font-bold text-xl text-purple-300">{date}</h2>
        <button class="purchase-btn">
            Purchase
        </button>
    </div>
</div>
<style>

.purchase-btn {
    color: #ffffff;
    transition: all 0.5s;
    position: absolute;
    bottom: 40px;
    padding: 10px 20px;
}
.purchase-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.103);
    transition: all 0.3s;
}
.purchase-btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.purchase-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.purchase-btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
    cursor: pointer;
}
</style>