---
const { name, image } = Astro.props;
---

<div class="containerArtista flex w-[325px] mt-10 mx-14 h-[250px] relative">
    <img class="h-[225px]" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b0801599-5336-4f0a-a66d-a1c69eaa7c7c/d6ltwty-c53f06dd-7c2a-4ba0-aa10-b35e1bcd55ac.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IwODAxNTk5LTUzMzYtNGYwYS1hNjZkLWExYzY5ZWFhN2M3Y1wvZDZsdHd0eS1jNTNmMDZkZC03YzJhLTRiYTAtYWExMC1iMzVlMWJjZDU1YWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ts4Mg1skdgT2M35f2mx5_082vVOK4aBcEJTfml8CwTA" alt="david guetta"/>
    <div class="flex flex-col align-middle items-center h-full">
        <h1 class="mt-10 font-bold text-xl text-nowrap">David Guetta</h1>
        <h2 class="mt-2 font-bold text-xl text-purple-300">24/06/2025</h2>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold  py-2 px-4 rounded-full absolute bottom-10">
            Purchase
          </button>
    </div>
    <img class="absolute top-0 size-10 left-[50%]" src="https://cdn-icons-png.flaticon.com/512/11087/11087445.png" alt="">
</div>