---
const {packs} = Astro.props;
---

<div class="gap-4 m-4 flex w-[30%] border-2 rounded-3xl p-4 border-sky-200 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]">
    <div class="flex items-center">
        <img src="https://images.vexels.com/media/users/3/220727/isolated/preview/dc726a3fe54a3b8095aff163f023c52a-ilustracion-de-copas-de-champan.png" alt="">
    </div>
    <div class="flex flex-col justify-center items-start">
        <div class="flex gap-4 font-bold">
            <h2 class="text-white">Drunk Pack</h2>
            <p class="text-white">6.000€</p>
        </div>

        <div class="font-light text-sm">
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id a quis quae nesciunt consequuntur velit rem vero, sint magnam voluptatem impedit libero dolores. Quibusdam vitae commodi, quos illum rem quo.</p>
        </div>
        <div>
            <button class="text-white">Pruchase</button>
        </div>
    </div>
    
</div>